<button (click)="atribuirVal1('0')">0</button>
<button (click)="atribuirVal1('1')">1</button>
<button (click)="atribuirVal1('2')">2</button>
<button (click)="atribuirVal1('3')">3</button>
<button (click)="atribuirVal1('4')">4</button>
<button (click)="atribuirVal1('5')">5</button>
<button (click)="atribuirVal1('6')">6</button>
<button (click)="atribuirVal1('7')">7</button>
<button (click)="atribuirVal1('8')">8</button>
<button (click)="atribuirVal1('9')">9</button>

{{val1}}
<br>

<button (click)="atribuirVal2('0')">0</button>
<button (click)="atribuirVal2('1')">1</button>
<button (click)="atribuirVal2('2')">2</button>
<button (click)="atribuirVal2('3')">3</button>
<button (click)="atribuirVal2('4')">4</button>
<button (click)="atribuirVal2('5')">5</button>
<button (click)="atribuirVal2('6')">6</button>
<button (click)="atribuirVal2('7')">7</button>
<button (click)="atribuirVal2('8')">8</button>
<button (click)="atribuirVal2('9')">9</button>

{{val2}}
<br>

<button (click)="somar()">Somar</button>
<button (click)="multiplicar()">Subtrair</button>
<button (click)="subtrair()">Multiplicar</button>
<button (click)="dividir()">Dividir</button>

{{resultado}}

