<h2>Exercicio 01</h2>
<app-exercicio01></app-exercicio01>
<hr>

<h2>Exercicio 02</h2>
<app-exercicio02></app-exercicio02>
<hr>

<h2>Exercicio 03</h2>
<app-exercicio03></app-exercicio03>
<hr>

<h2>Exercicio 04</h2>
<app-exercicio04></app-exercicio04>
<hr>

<h2>Exercicio 05</h2>
<app-exercicio05></app-exercicio05>
<hr>

<h2>Exercicio 06</h2>
<app-exercicio06></app-exercicio06>
<hr>

<h2>Exercicio 07</h2>
<app-exercicio07></app-exercicio07>
<hr>

<h2>Exercicio 08</h2>
<app-exercicio08></app-exercicio08>
<hr>

<h2>Exercicio 09</h2>
<app-exercicio09></app-exercicio09>
<hr>

<h2>Exercicio 10</h2>
<app-exercicio10></app-exercicio10>
<hr>
